*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}
body{

    background-image: url(images/backjpg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
h1{
padding: 0.5vw;
    font-size: 3vw;
    text-align: center;
    font-weight: 900;
    color: white;
}

#select{
width: 20%;
height: 7vh;
margin: auto;

display: flex;
align-items: center;
justify-content: space-between;
margin-top: 0.9vw;
gap: 1vw;

}

#html{
    
    width: 45%;
    height: 6vh;
    background-color: white;
    border-radius: 0.7vw;
    box-shadow: 0.5vw 0.5vw 5vw gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    font-weight: 700;
    cursor: pointer;
    

}
#html:hover,#html:hover{


    color: orange;
}

#js{
    
    width: 45%;
    height: 6vh;
    background-color: white;
    border-radius: 0.7vw;
    box-shadow: 0.5vw 0.5vw 5vw gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    font-weight: 700;
    cursor: pointer;
    

}
#js:hover,#html:hover,#boot:hover{


    color: orange;
}
#boot{
    
    width: 45%;
    height: 6vh;
    background-color: white;
    border-radius: 0.7vw;
    box-shadow: 0.5vw 0.5vw 5vw gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    font-weight: 700;
    cursor: pointer;
    

}

#htmldiv{
  
    width: 72vw;
    height: 29.6vw;
    margin: auto;
    position: absolute;

    top: 10.2vw;
    left: 14vw;
    padding: 1vw 1vw;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
   
}
#htmldis{
    display: none;
}








#jsdiv{
  
    width: 72vw;
    height: 29.6vw;
    margin: auto;
    position: absolute;

    top: 10.2vw;
    left: 14vw;
    padding: 1vw 1vw;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
   
}
#jsdis{
    display: none;
}
#bootdis{
    display: none;
}
#bootdiv{
  
    width: 72vw;
    height: 29.6vw;
    margin: auto;
    position: absolute;
    top: 10.2vw;
    left: 14vw;
    padding: 1vw 1vw;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
   
}

.content{
    width: 10%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vw;
    box-shadow: 0.5vw 0.5vw 5vw gray;
    background-color: rgb(179, 179, 179);
    overflow: hidden;
    border-radius: 0.5vw;
    cursor: pointer;

}
.content a{


    text-decoration: none;
    color:black;
    font-size: 0.8vw;
    font-weight: 600;
    cursor: pointer;
   
  
}
.content a:hover{
color: orange;
    
}